* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(2, max-content);
}

.imagem-carro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px; 
    width: 100%;
}

.paragrafo span {
    color: #1139a7f5;
}

.paragrafo a {
    color: #1139a7f5;
}

.imagem {
    width: 100%;
}

@media(max-width: 768px){
    .paragrafo {
        text-align: center;
        font-size: 14px;
    }

    main {
        padding: 30px;
    }
}