.footer-container {
    background-color: #1b357e;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    padding: 20px;
}

.footer-container p {
    color: white;
    text-align: center;
    font-weight: bolder;
    align-self: center;
}

.redes, .direitos, .ford-logo-footer{
    display: flex;
    align-items: center;
}

.direitos {
    justify-content: center;
}

.imagens-logos {
    display: flex;
    align-items: center;
}

.imagens-logos img {
    width: 70%;
}

@media (max-width: 768px) {
    .footer-container {
        background-color: #1b357e;
        display: grid;
        grid-template-columns: 1fr;
        padding: 4px;
        gap: 8px;
    }

    .footer-container .ford-logo-footer {
        justify-self: center;
        align-self: center;
        padding: 10px;
    }

    .footer-container p {
        color: white;
        padding: 10px;
        text-align: center;
        font-weight: bolder;
        font-size: 20px;
    }

    .redes {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .imagens-logos {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
    
    .imagens-logos a {
        width: 100%;
    }

    .imagens-logos img {
        width: 100%;
    }
}